In [41]:
import pandas as pd

population_16 = pd.read_csv('pop-by-zip-code.csv')
complaints = pd.read_csv('total-complaints-zipcode.csv')

In [42]:
complaints

     ZIPCODE  COMPLAINT_COUNT
0      10001            31732
1      10002            47009
2      10003            65441
3      10004            16128
4      10005            26042
..       ...              ...
261    11691            25607
262    11692            19893
263    11693            15974
264    11694            11394
265    11697             3193

[266 rows x 2 columns]

In [43]:
population_16

,zip_code,y-2016,y-2015,y-2014,y-2013,y-2012,y-2011,y-2010,aggregate
0,10001,23332,23537,22767,21966,20579,21097,21102,154380
1,10002,78096,80736,79894,82191,80323,81335,81410,563985
2,10003,56767,57112,57068,57310,56614,55190,56024,396085
3,10004,3044,3221,3024,2807,2780,2604,3089,20569
4,10005,8710,8131,7570,6822,5724,4935,7135,49027
...,...,...,...,...,...,...,...,...,...
397,11691,64946,63989,62577,61091,61442,59376,60035,433456
398,11692,19403,18955,17970,17674,16870,17070,18540,126482
399,11693,12021,11194,11338,11335,11415,11407,11916,80626
400,11694,21219,20773,21507,21725,21281,20792,20408,147705
401,11697,3928,4006,4078,4223,4344,4381,4079,29039

In [48]:
for index, row in complaints.iterrows():
    zipcode = row['ZIPCODE']
    complaint_count = row['COMPLAINT_COUNT']
    pop_16_exist = population_16[population_16["zip_code"] == zipcode]["aggregate"].values
    if len(pop_16_exist) != 0 and pop_16_exist[0] != 0 and pop_16_exist[0] >= 100:
        pop_16 = pop_16_exist[0]
        print(zipcode, round(complaint_count/pop_16, 2))

10001 0.21
10002 0.08
10003 0.17
10004 0.78
10005 0.53
10006 0.74
10007 0.36
10009 0.11
10010 0.17
10011 0.16
10012 0.26
10013 0.16
10014 0.21
10016 0.07
10017 0.15
10018 1.02
10019 0.16
10021 0.11
10022 0.08
10023 0.09
10024 0.07
10025 0.06
10026 0.3
10027 0.17
10028 0.07
10029 0.13
10030 0.3
10031 0.09
10032 0.09
10033 0.1
10034 0.09
10035 0.15
10036 0.21
10037 0.31
10038 0.21
10039 0.27
10040 0.11
10044 0.27
10065 0.13
10069 0.89
10075 0.12
10128 0.07
10162 2.03
10280 0.16
10282 0.44
10301 0.12
10302 0.25
10303 0.08
10304 0.07
10305 0.08
10306 0.06
10307 0.11
10308 0.07
10309 0.05
10310 0.17
10312 0.03
10314 0.02
10451 0.2
10452 0.21
10453 0.12
10454 0.18
10455 0.18
10456 0.11
10457 0.15
10458 0.17
10459 0.14
10460 0.13
10461 0.09
10462 0.09
10463 0.08
10464 0.32
10465 0.06
10466 0.08
10467 0.07
10468 0.13
10469 0.06
10470 0.36
10471 0.09
10472 0.14
10473 0.08
10474 0.48
10475 0.08
11001 0.02
11003 0.01
11004 0.05
11005 0.39
11010 0.01
11020 0.08
11021 0.04
11023 0.03
11024 0.12
11030 0.01
11040 0.0
11042 1.04
11050 0.01
11096 0.05
11101 0.14
11102 0.1
11103 0.17
11104 0.15
11105 0.1
11106 0.09
11109 1.04
11201 0.09
11203 0.09
11204 0.06
11205 0.18
11206 0.11
11207 0.09
11208 0.09
11209 0.05
11210 0.08
11211 0.06
11212 0.14
11213 0.17
11214 0.07
11215 0.09
11216 0.15
11217 0.12
11218 0.07
11219 0.04
11220 0.07
11221 0.13
11222 0.09
11223 0.07
11224 0.15
11225 0.12
11226 0.1
11228 0.09
11229 0.07
11230 0.08
11231 0.11
11232 0.12
11233 0.13
11234 0.03
11235 0.08
11236 0.07
11237 0.15
11238 0.15
11239 0.37
11354 0.06
11355 0.06
11356 0.14
11357 0.07
11358 0.06
11360 0.11
11361 0.09
11362 0.05
11363 0.12
11364 0.04
11365 0.06
11366 0.11
11367 0.16
11368 0.04
11369 0.1
11370 0.11
11372 0.13
11373 0.08
11374 0.13
11375 0.06
11377 0.04
11378 0.1
11379 0.12
11385 0.07
11411 0.11
11412 0.08
11413 0.06
11414 0.11
11415 0.15
11416 0.16
11417 0.09
11418 0.1
11419 0.07
11420 0.07
11421 0.13
11422 0.07
11423 0.08
11426 0.06
11427 0.06
11428 0.12
11429 0.08
11430 6.79
11432 0.05
11433 0.14
11434 0.05
11435 0.1
11436 0.19
11501 0.0
11507 0.02
11509 0.42
11510 0.0
11514 0.02
11516 0.23
11518 0.04
11520 0.0
11530 0.01
11542 0.0
11545 0.01
11547 0.14
11548 0.07
11552 0.01
11557 0.03
11558 0.05
11559 0.07
11560 0.01
11561 0.0
11563 0.02
11565 0.07
11568 0.0
11569 0.1
11570 0.0
11572 0.02
11576 0.03
11577 0.0
11579 0.04
11580 0.02
11581 0.08
11596 0.0
11598 0.07
11691 0.06
11692 0.16
11693 0.2
11694 0.08
11697 0.11