In [2]:
import pandas as pd

complaints = pd.read_csv('total-complaints-zipcode.csv')
# arrest =  pd.read_csv('total_arrest.csv')

In [3]:
neighborhoods = {
    "Upper West Side": [10023, 10024, 10025, 10069],
    "Midtown West": [10019, 10018, 10036, 10001],
    "Chelsea": [10001, 10011],
    "West Village": [10014],
    "SOHO": [10013, 10012],
    "Tribeca": [10007, 10013, 10282],
    "Battery Park": [10280, 10004, 10282, 10006],
    "Financial District": [10004, 10005, 10006, 10038],
    "Upper East Side": [10021, 10065, 10075, 10128, 10028, 10022],
    "Midtown East": [10022, 10017],
    "Murray Hill": [10016],
    "Gramercy Flatiron": [10010],
    "East Village": [10003, 10009, 10002]
}

In [4]:
result = {}
for area in neighborhoods:
    zipcodes = neighborhoods[area]
    total_safety_indicator = 0
    for code in zipcodes:
        complaints_rate = complaints[complaints["ZIPCODE"] == code]["COMPLAINT_COUNT"].values[0]
        # arrest_rate = arrest[arrest["zipcode"]
        #                     == code]["arrest_rate"].values[0]
        # print(area, complaints_rate, arrest_rate)
        # total_safety_indicator += complaints_rate + arrest_rate
        total_safety_indicator += complaints_rate
    result[area] = round(total_safety_indicator, 3)
    # print(area, total_complaints_rate)
print(result)

{'Upper West Side': 139615, 'Midtown West': 164464, 'Chelsea': 90752, 'West Village': 47118, 'SOHO': 74394, 'Tribeca': 63573, 'Battery Park': 57715, 'Financial District': 87423, 'Upper East Side': 154545, 'Midtown East': 33561, 'Murray Hill': 25177, 'Gramercy Flatiron': 35618, 'East Village': 157985}

In [5]:
{k: v for k, v in sorted(result.items(), key=lambda item: item[1])}

{'Murray Hill': 25177,
 'Midtown East': 33561,
 'Gramercy Flatiron': 35618,
 'West Village': 47118,
 'Battery Park': 57715,
 'Tribeca': 63573,
 'SOHO': 74394,
 'Financial District': 87423,
 'Chelsea': 90752,
 'Upper West Side': 139615,
 'Upper East Side': 154545,
 'East Village': 157985,
 'Midtown West': 164464}

In [16]:
manhattan = complaints[(complaints["ZIPCODE"] <= 10282) & (complaints["ZIPCODE"] >= 10001)]
manhattan.sort_values(by=['COMPLAINT_COUNT'])[:10]

    ZIPCODE  COMPLAINT_COUNT
71    10280             9699
60    10169            11117
63    10172            12281
70    10279            12848
72    10281            13086
58    10167            14364
53    10152            14582
5     10006            14939
68    10271            15808
3     10004            16128