In [35]:
import pandas as pd

complaints = pd.read_csv('total-complaints-zipcode.csv')
# complaints = pd.read_csv('total_arrest_absolute.csv')

In [36]:
neighborhoods = {
    "Upper West Side": [10023, 10024, 10025, 10069],
    "Midtown West": [10019, 10018, 10036, 10001],
    "Chelsea": [10001, 10011],
    "West Village": [10014],
    "SOHO": [10013, 10012],
    "Tribeca": [10007, 10013, 10282],
    "Battery Park": [10280, 10004, 10282, 10006],
    "Financial District": [10004, 10005, 10006, 10038],
    "Upper East Side": [10021, 10065, 10075, 10128, 10028, 10022],
    "Midtown East": [10022, 10017],
    "Murray Hill": [10016],
    "Gramercy Flatiron": [10010],
    "East Village": [10003, 10009, 10002]
}

In [37]:
result = {}
for area in neighborhoods:
    zipcodes = neighborhoods[area]
    total_safety_indicator = 0
    cnt = 0
    for code in zipcodes:
        complaints_rate = complaints[complaints["ZIPCODE"] == code]["COMPLAINT_COUNT"].values[0]
        total_safety_indicator += complaints_rate
        cnt += 1
    result[area] = round(total_safety_indicator / cnt, 3)
print(result)

{'Upper West Side': 34903.75, 'Midtown West': 41116.0, 'Chelsea': 45376.0, 'West Village': 47118.0, 'SOHO': 37197.0, 'Tribeca': 21191.0, 'Battery Park': 14428.75, 'Financial District': 21855.75, 'Upper East Side': 25757.5, 'Midtown East': 16780.5, 'Murray Hill': 25177.0, 'Gramercy Flatiron': 35618.0, 'East Village': 52661.667}

In [38]:
{k: v for k, v in sorted(result.items(), key=lambda item: item[1])}

{'Battery Park': 14428.75,
 'Midtown East': 16780.5,
 'Tribeca': 21191.0,
 'Financial District': 21855.75,
 'Murray Hill': 25177.0,
 'Upper East Side': 25757.5,
 'Upper West Side': 34903.75,
 'Gramercy Flatiron': 35618.0,
 'SOHO': 37197.0,
 'Midtown West': 41116.0,
 'Chelsea': 45376.0,
 'West Village': 47118.0,
 'East Village': 52661.667}

In [39]:
{'Battery Park': 14428.75,
 'Midtown East': 16780.5,
 'Tribeca': 21191.0,
 'Financial District': 21855.75,
 'Murray Hill': 25177.0,
 'Upper East Side': 25757.5,
 'Upper West Side': 34903.75,
 'Gramercy Flatiron': 35618.0,
 'SOHO': 37197.0,
 'Midtown West': 41116.0,
 'Chelsea': 45376.0,
 'West Village': 47118.0,
 'East Village': 52661.667}

{'Battery Park': 14428.75,
 'Midtown East': 16780.5,
 'Tribeca': 21191.0,
 'Financial District': 21855.75,
 'Murray Hill': 25177.0,
 'Upper East Side': 25757.5,
 'Upper West Side': 34903.75,
 'Gramercy Flatiron': 35618.0,
 'SOHO': 37197.0,
 'Midtown West': 41116.0,
 'Chelsea': 45376.0,
 'West Village': 47118.0,
 'East Village': 52661.667}

In [40]:
manhattan = complaints[(complaints["ZIPCODE"] <= 10282)
                       & (complaints["ZIPCODE"] >= 10001)]
manhattan['Neighborhood'] = 'Manhattan'
manhattan = manhattan.sort_values(by=['COMPLAINT_COUNT'])[:5]

/var/folders/4g/g_x7cfsx1_36pl39vpg3mhrc0000gn/T/ipykernel_73810/1817529486.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manhattan['Neighborhood'] = 'Manhattan'

In [41]:
bronx = complaints[(complaints["ZIPCODE"] <= 10475)
                       & (complaints["ZIPCODE"] >= 10451)]
bronx['Neighborhood'] = 'Bronx'
bronx = bronx.sort_values(by=['COMPLAINT_COUNT'])[:5]

/var/folders/4g/g_x7cfsx1_36pl39vpg3mhrc0000gn/T/ipykernel_73810/424307992.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronx['Neighborhood'] = 'Bronx'

In [42]:
brooklyn = complaints[(complaints["ZIPCODE"] <= 11256)
                       & (complaints["ZIPCODE"] >= 11201)]
brooklyn['Neighborhood'] = 'Brooklyn'
brooklyn = brooklyn.sort_values(by=['COMPLAINT_COUNT'])[:5]

/var/folders/4g/g_x7cfsx1_36pl39vpg3mhrc0000gn/T/ipykernel_73810/1523258915.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brooklyn['Neighborhood'] = 'Brooklyn'

In [43]:
queens = complaints[(complaints["ZIPCODE"] <= 11697)
                      & (complaints["ZIPCODE"] >= 11004)]
queens = queens.sort_values(by=['COMPLAINT_COUNT'])[:5]
queens['Neighborhood'] = 'Queens'
queens

     ZIPCODE  COMPLAINT_COUNT Neighborhood
232    11510                6       Queens
250    11568               42       Queens
236    11520               43       Queens
229    11501              219       Queens
255    11577              326       Queens
259    11596              349       Queens
239    11545              456       Queens
238    11542              592       Queens
246    11560              604       Queens
240    11547              712       Queens

In [44]:
island = complaints[(complaints["ZIPCODE"] <= 10314)
                      & (complaints["ZIPCODE"] >= 10301)]
island['Neighborhood'] = 'Staten Island'
island = island.sort_values(by=['COMPLAINT_COUNT'])[:5]

/var/folders/4g/g_x7cfsx1_36pl39vpg3mhrc0000gn/T/ipykernel_73810/962428242.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  island['Neighborhood'] = 'Staten Island'

In [46]:
pd.concat([manhattan, bronx, brooklyn, queens, island])

     ZIPCODE  COMPLAINT_COUNT   Neighborhood
71     10280             9699      Manhattan
60     10169            11117      Manhattan
63     10172            12281      Manhattan
70     10279            12848      Manhattan
72     10281            13086      Manhattan
58     10167            14364      Manhattan
53     10152            14582      Manhattan
5      10006            14939      Manhattan
68     10271            15808      Manhattan
3      10004            16128      Manhattan
100    10464             9842          Bronx
107    10471            14261          Bronx
101    10465            18638          Bronx
111    10475            22741          Bronx
105    10469            29302          Bronx
109    10473            32636          Bronx
97     10461            34066          Bronx
102    10466            37340          Bronx
106    10470            38104          Bronx
99     10463            38414          Bronx
174    11252            11190       Brooklyn
171    11242            12992       Brooklyn
164    11234            20568       Brooklyn
153    11222            21409       Brooklyn
170    11241            22803       Brooklyn
162    11232            24814       Brooklyn
140    11209            25829       Brooklyn
158    11228            26701       Brooklyn
161    11231            27466       Brooklyn
150    11219            27930       Brooklyn
232    11510                6         Queens
250    11568               42         Queens
236    11520               43         Queens
229    11501              219         Queens
255    11577              326         Queens
259    11596              349         Queens
239    11545              456         Queens
238    11542              592         Queens
246    11560              604         Queens
240    11547              712         Queens
84     10311            10159  Staten Island
86     10314            10438  Staten Island
80     10307            11507  Staten Island
82     10309            11667  Staten Island
81     10308            13403  Staten Island
85     10312            13694  Staten Island
76     10303            14520  Staten Island
77     10304            19603  Staten Island
79     10306            21591  Staten Island
78     10305            22719  Staten Island